{% extends "layouts/base.html" %}

{% load static %}

{% load filter_extras %}

{% block title %}Dashboard{% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->

        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">

                    <div class="col-md-3 col-xl-4">
                        <div class="card theme-bg btn-semi-rounded">
                            <div class="card-block customer-visitor">
                                <h2 class="text-white text-right mt-2 f-w-300">{{ players|length }}</h2>
                                <span class="text-white text-right d-block">Players</span>
                                <i class="fas fa-play-circle text-white"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xl-4">
                        <div class="card bg-c-purple btn-semi-rounded">
                            <div class="card-block customer-visitor">
                                <h2 class="text-white text-right mt-2 f-w-300">{{ contents|length }}</h2>
                                <span class="text-white text-right d-block">Conteúdos</span>
                                <i class="fas fa-video text-white"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xl-4">
                        <div class="card bg-c-blue btn-semi-rounded">
                            <div class="card-block customer-visitor">
                                <h2 class="text-white text-right mt-2 f-w-300">{{ playlists|length }}</h2>
                                <span class="text-white text-right d-block">Playlists</span>
                                <i class="fas fa-film text-white"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12 col-md-6 m-b-30">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active show" id="home-tab" data-toggle="tab" href="#players"
                                   role="tab"
                                   aria-controls="players" aria-selected="true">Players</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#playlists"
                                   role="tab" aria-controls="playlists" aria-selected="false">Playlists</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contents" role="tab"
                                   aria-controls="contents" aria-selected="false">Conteúdos</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade active show" id="players" role="tabpanel"
                                 aria-labelledby="players-tab">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>SO</th>
                                        <th>ID</th>
                                        <th>Nome</th>
                                        <th>Status</th>
                                        <th>Data Envio Ultimo Log</th>
                                        <th class="text-right"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% now "w" as current_number_day_in_week %}
                                    {% for player in players %}
                                    <tr>
                                        <td>
                                            {% if player.platform == "ANDROID" %}
                                            <img class="rounded-circle m-r-10" style="width:40px;"
                                                 src="{% static 'img/platform/android.png' %}" alt="activity-user">
                                            {% elif player.platform == "SAMSUNG" %}
                                            <img class="rounded-circle m-r-10" style="width:40px;"
                                                 src="{% static 'img/platform/samsung.png' %}" alt="activity-user">
                                            {% elif player.platform == "LG" %}
                                            <img class="rounded-circle m-r-10" style="width:40px;"
                                                 src="{% static 'img/platform/lg.png' %}" alt="activity-user">
                                            {% elif player.platform == "4YOUSEE_PLAYER" %}
                                            <img class="rounded-circle m-r-10" style="width:40px;"
                                                 src="{% static 'img/platform/windows_linux.png' %}"
                                                 alt="activity-user">
                                            {% endif %}
                                        </td>
                                        <td>
                                            <h6 class="m-0"><b>{{ player.id }}</b></h6>
                                        </td>
                                        <td>
                                            <h6 class="mb-1">{{ player.name }}</h6>
                                            {% with playlist_today=player.playlists|dict_key:current_number_day_in_week %}
                                            <p class="m-0"><b>Playlist: </b>{{ playlist_today.name }}</p>
                                            <p class="m-0"><b>Grupo: </b>{{ player.group.name }}</p>
                                            {% endwith %}
                                        </td>
                                        {% if player.lastContactInMinutes < 11 %}
                                        <td>
                                            <h6 class="m-0 text-c-green">
                                                <i class="fas fa-circle text-c-green f-10 m-r-15"></i>
                                                Online
                                            </h6>
                                        </td>
                                        {% elif player.lastContactInMinutes > 11 %}
                                        <td>
                                            <h6 class="m-0 text-c-red">
                                                <i class="fas fa-circle text-c-red f-10 m-r-5" title=""
                                                   data-toggle="tooltip"
                                                   data-original-title="Offline"></i>
                                                {{ player.lastContactInMinutes|minutes_in_time }}
                                            </h6>
                                            <p class="f-10"><b>Offline desde </b> {{ player.lastContactInMinutes|date_from_minute }}
                                            </p>
                                        </td>
                                        {% else %}
                                        <td>
                                            <h6 class="m-0 text-c-purple">
                                                <i class="fas fa-circle text-c-purple f-10" title=""
                                                   data-toggle="tooltip" data-original-title="Não Configurado"></i>
                                                Sem informações
                                            </h6>
                                        </td>
                                        {% endif %}
                                        <td>
                                            <h6 class="m-0">{{ player.lastLogReceived|format_str_date }}</h6>
                                        </td>
                                        <td class="user-card">
                                            <a href="#!" class="label theme-bg text-white f-12">Approve</a>
                                            <a href="#!" class="label theme-bg2 text-white f-12">Reject</a>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <h3 class="f-w-300 d-flex align-items-center m-l-20">Não há players nessa conta</h3>
                                    <!--<tr>
                                        <td>
                                            <h6 class="m-0"><img class="rounded-circle  m-r-10" style="width:40px;"
                                                                 src="{% static 'img/user/avatar-2.jpg' %}"
                                                                 alt="activity-user">Albert Andersen</h6>
                                        </td>
                                        <td>
                                            <h6 class="m-0">Jumps over the lazy</h6>
                                        </td>
                                        <td>
                                            <h6 class="m-0">2:37 PM</h6>
                                        </td>
                                        <td>
                                            <h6 class="m-0 text-c-red">Missed</h6>
                                        </td>
                                        <td class="text-right"><i class="fas fa-circle text-c-red f-10"></i></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h6 class="m-0"><img class="rounded-circle  m-r-10" style="width:40px;"
                                                                 src="{% static 'img/user/avatar-3.jpg' %}"
                                                                 alt="activity-user">Silje Larsen</h6>
                                        </td>
                                        <td>
                                            <h6 class="m-0">Dog the quick brown</h6>
                                        </td>
                                        <td>
                                            <h6 class="m-0">10:23 AM</h6>
                                        </td>
                                        <td>
                                            <h6 class="m-0 text-c-purple">Delayed</h6>
                                        </td>
                                        <td class="text-right"><i class="fas fa-circle text-c-purple f-10"></i></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h6 class="m-0"><img class="rounded-circle  m-r-10" style="width:40px;"
                                                                 src="{% static 'img/user/avatar-1.jpg' %}"
                                                                 alt="activity-user">Ida Jorgensen</h6>
                                        </td>
                                        <td>
                                            <h6 class="m-0">The quick brown fox</h6>
                                        </td>
                                        <td>
                                            <h6 class="m-0">4:28 PM</h6>
                                        </td>
                                        <td>
                                            <h6 class="m-0 text-c-green">Done</h6>
                                        </td>
                                        <td class="text-right"><i class="fas fa-circle text-c-green f-10"></i></td>
                                    </tr>-->
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                            <div class="tab-pane fade" id="playlists" role="tabpanel" aria-labelledby="playlists-tab">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nome</th>
                                        <th>Tipo</th>
                                        <th>--</th>
                                        <th class="text-right">--</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for playlist in playlists %}
                                    <tr>
                                        <td>
                                            <h6 class="m-0"><b>{{ playlist.id }}</b></h6>
                                        </td>
                                        <td>
                                            <h6 class="m-0">{{ playlist.name }}</h6>
                                        </td>
                                        <td>
                                            {% if playlist.isSubPlaylist is False %}
                                            <h6 class="m-0 text-c-green">Playlist</h6>
                                            {% else %}
                                            <h6 class="m-0 text-c-purple">SubPlaylist</h6>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <h6 class="m-0">--</h6>
                                        </td>
                                        <td class="user-card">
                                            <a href="#!" class="label theme-bg text-white f-12">Approve</a>
                                            <a href="#!" class="label theme-bg2 text-white f-12">Reject</a>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <h3 class="f-w-300 d-flex align-items-center m-l-20">Não há players nessa conta</h3>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                            <div class="tab-pane fade" id="contents" role="tabpanel" aria-labelledby="contents-tab">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nome</th>
                                        <th>Categoria</th>
                                        <th class="text-right"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for content in contents %}
                                    <tr>
                                        <td>
                                            <h6 class="m-0"><b>{{ content.id }}</b></h6>
                                        </td>
                                        <td>
                                            <h6 class="m-0">{{ content.name }}</h6>
                                            <h6 class="m-0 text-muted f-10">
                                                {% if content.schedule.startDate is not None and content.schedule.endDate is not None %}
                                                    <i class="feather icon-calendar text-c-green f-15"></i>
                                                    {{ content.schedule.startDate }} - {{ content.schedule.endDate }}
                                                    {% elif content.schedule.startDate %}
                                                        <i class="feather icon-calendar text-c-green f-15"></i>
                                                        {{ content.schedule.startDate }}
                                                    {% elif content.schedule.endDate %}
                                                        <i class="feather icon-calendar text-c-green f-15"></i>
                                                        {{ content.schedule.endDate }}
                                                {% endif %}
                                                {% if content.schedule.times %}
                                                    {% for time in content.schedule.times %}
                                                        <br>
                                                        <i class="feather icon-clock text-c-green f-15"></i>
                                                        Desde {{ time.startTime }} até {{ time.endTime }}
                                                        <i class="m-l-5 feather icon-bookmark text-c-green f-15 m-l-5"></i>
                                                        {% for weekDay in time.weekDays %}
                                                            {{ weekDay|number_day_to_name_day }}
                                                        {% endfor %}
                                                    {% endfor %}
                                                {% endif %}
                                            </h6>

                                        </td>
                                        <td>
                                            <div class="row">
                                                {% for category in content.categories %}
                                                <span class="m-0 mb-1 label btn-semi-rounded bg-c-blue text-white f-12"
                                                      data-toggle="tooltip" data-original-title="{{ category.id }}">
                                                    {{ category.name }}</span>
                                                {% endfor %}
                                            </div>
                                        </td>
                                        <td class="user-card">
                                            <a href="#!" class="label theme-bg text-white f-12">Approve</a>
                                            <a href="#!" class="label theme-bg2 text-white f-12">Reject</a>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <h3 class="f-w-300 d-flex align-items-center m-l-20">Não há players nessa conta</h3>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!--[ daily sales section ] start-->
                    <div class="col-md-6 col-xl-4">
                        <div class="card daily-sales">
                            <div class="card-block">
                                <h6 class="mb-4">Daily Sales</h6>
                                <div class="row d-flex align-items-center">
                                    <div class="col-9">
                                        <h3 class="f-w-300 d-flex align-items-center m-b-0"><i
                                                class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>$ 249.95</h3>
                                    </div>

                                    <div class="col-3 text-right">
                                        <p class="m-b-0">67%</p>
                                    </div>
                                </div>
                                <div class="progress m-t-30" style="height: 7px;">
                                    <div class="progress-bar progress-c-theme" role="progressbar" style="width: 50%;"
                                         aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--[ daily sales section ] end-->
                    <!--[ Monthly  sales section ] starts-->
                    <div class="col-md-6 col-xl-4">
                        <div class="card Monthly-sales">
                            <div class="card-block">
                                <h6 class="mb-4">Monthly Sales</h6>
                                <div class="row d-flex align-items-center">
                                    <div class="col-9">
                                        <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i
                                                class="feather icon-arrow-down text-c-red f-30 m-r-10"></i>$ 2.942.32
                                        </h3>
                                    </div>
                                    <div class="col-3 text-right">
                                        <p class="m-b-0">36%</p>
                                    </div>
                                </div>
                                <div class="progress m-t-30" style="height: 7px;">
                                    <div class="progress-bar progress-c-theme2" role="progressbar" style="width: 35%;"
                                         aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--[ Monthly  sales section ] end-->
                    <!--[ year  sales section ] starts-->
                    <div class="col-md-12 col-xl-4">
                        <div class="card yearly-sales">
                            <div class="card-block">
                                <h6 class="mb-4">Yearly Sales</h6>
                                <div class="row d-flex align-items-center">
                                    <div class="col-9">
                                        <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i
                                                class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>$ 8.638.32
                                        </h3>
                                    </div>
                                    <div class="col-3 text-right">
                                        <p class="m-b-0">80%</p>
                                    </div>
                                </div>
                                <div class="progress m-t-30" style="height: 7px;">
                                    <div class="progress-bar progress-c-theme" role="progressbar" style="width: 70%;"
                                         aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--[ year  sales section ] end-->
                    <!-- [ statistics year chart ] start -->
                    <div class="col-xl-4 col-md-6">
                        <div class="card card-event">
                            <div class="card-block">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col">
                                        <h5 class="m-0">Upcoming Event</h5>
                                    </div>
                                    <div class="col-auto">
                                        <label class="label theme-bg2 text-white f-14 f-w-400 float-right">34%</label>
                                    </div>
                                </div>
                                <h2 class="mt-3 f-w-300">45<sub class="text-muted f-14">Competitors</sub></h2>
                                <h6 class="text-muted mt-4 mb-0">You can participate in event </h6>
                                <i class="fab fa-angellist text-c-purple f-50"></i>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-block border-bottom">
                                <div class="row d-flex align-items-center">
                                    <div class="col-auto">
                                        <i class="feather icon-zap f-30 text-c-green"></i>
                                    </div>
                                    <div class="col">
                                        <h3 class="f-w-300">235</h3>
                                        <span class="d-block text-uppercase">TOTAL IDEAS</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-block">
                                <div class="row d-flex align-items-center">
                                    <div class="col-auto">
                                        <i class="feather icon-map-pin f-30 text-c-blue"></i>
                                    </div>
                                    <div class="col">
                                        <h3 class="f-w-300">26</h3>
                                        <span class="d-block text-uppercase">TOTAL LOCATIONS</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ statistics year chart ] end -->
                    <!--[social-media section] start-->
                    <div class="col-md-12 col-xl-4">
                        <div class="card card-social">
                            <div class="card-block border-bottom">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-auto">
                                        <i class="fab fa-facebook-f text-primary f-36"></i>
                                    </div>
                                    <div class="col text-right">
                                        <h3>12,281</h3>
                                        <h5 class="text-c-green mb-0">+7.2% <span class="text-muted">Total Likes</span>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-block">
                                <div class="row align-items-center justify-content-center card-active">
                                    <div class="col-6">
                                        <h6 class="text-center m-b-10"><span class="text-muted m-r-5">Target:</span>35,098
                                        </h6>
                                        <div class="progress">
                                            <div class="progress-bar progress-c-theme" role="progressbar"
                                                 style="width:60%;height:6px;" aria-valuenow="60" aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <h6 class="text-center  m-b-10"><span class="text-muted m-r-5">Duration:</span>3,539
                                        </h6>
                                        <div class="progress">
                                            <div class="progress-bar progress-c-theme2" role="progressbar"
                                                 style="width:45%;height:6px;" aria-valuenow="45" aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <div class="card card-social">
                            <div class="card-block border-bottom">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-auto">
                                        <i class="fab fa-twitter text-c-blue f-36"></i>
                                    </div>
                                    <div class="col text-right">
                                        <h3>11,200</h3>
                                        <h5 class="text-c-purple mb-0">+6.2% <span class="text-muted">Total Likes</span>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-block">
                                <div class="row align-items-center justify-content-center card-active">
                                    <div class="col-6">
                                        <h6 class="text-center m-b-10"><span class="text-muted m-r-5">Target:</span>34,185
                                        </h6>
                                        <div class="progress">
                                            <div class="progress-bar progress-c-green" role="progressbar"
                                                 style="width:40%;height:6px;" aria-valuenow="40" aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <h6 class="text-center  m-b-10"><span class="text-muted m-r-5">Duration:</span>4,567
                                        </h6>
                                        <div class="progress">
                                            <div class="progress-bar progress-c-blue" role="progressbar"
                                                 style="width:70%;height:6px;" aria-valuenow="70" aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <div class="card card-social">
                            <div class="card-block border-bottom">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-auto">
                                        <i class="fab fa-google-plus-g text-c-red f-36"></i>
                                    </div>
                                    <div class="col text-right">
                                        <h3>10,500</h3>
                                        <h5 class="text-c-blue mb-0">+5.9% <span class="text-muted">Total Likes</span>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-block">
                                <div class="row align-items-center justify-content-center card-active">
                                    <div class="col-6">
                                        <h6 class="text-center m-b-10"><span class="text-muted m-r-5">Target:</span>25,998
                                        </h6>
                                        <div class="progress">
                                            <div class="progress-bar progress-c-theme" role="progressbar"
                                                 style="width:80%;height:6px;" aria-valuenow="80" aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <h6 class="text-center  m-b-10"><span class="text-muted m-r-5">Duration:</span>7,753
                                        </h6>
                                        <div class="progress">
                                            <div class="progress-bar progress-c-theme2" role="progressbar"
                                                 style="width:50%;height:6px;" aria-valuenow="50" aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--[social-media section] end-->
                    <!-- [ rating list ] starts-->
                    <div class="col-xl-4 col-md-6">
                        <div class="card user-list">
                            <div class="card-header">
                                <h5>Rating</h5>
                            </div>
                            <div class="card-block">
                                <div class="row align-items-center justify-content-center m-b-20">
                                    <div class="col-6">
                                        <h2 class="f-w-300 d-flex align-items-center float-left m-0">4.7 <i
                                                class="fas fa-star f-10 m-l-10 text-c-yellow"></i></h2>
                                    </div>
                                    <div class="col-6">
                                        <h6 class="d-flex  align-items-center float-right m-0">0.4 <i
                                                class="fas fa-caret-up text-c-green f-22 m-l-10"></i></h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <h6 class="align-items-center float-left"><i
                                                class="fas fa-star f-10 m-r-10 text-c-yellow"></i>5</h6>
                                        <h6 class="align-items-center float-right">384</h6>
                                        <div class="progress m-t-30 m-b-20" style="height: 6px;">
                                            <div class="progress-bar progress-c-theme" role="progressbar"
                                                 style="width: 70%;" aria-valuenow="70" aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <h6 class="align-items-center float-left"><i
                                                class="fas fa-star f-10 m-r-10 text-c-yellow"></i>4</h6>
                                        <h6 class="align-items-center float-right">145</h6>
                                        <div class="progress m-t-30  m-b-20" style="height: 6px;">
                                            <div class="progress-bar progress-c-theme" role="progressbar"
                                                 style="width: 35%;" aria-valuenow="35" aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <h6 class="align-items-center float-left"><i
                                                class="fas fa-star f-10 m-r-10 text-c-yellow"></i>3</h6>
                                        <h6 class="align-items-center float-right">24</h6>
                                        <div class="progress m-t-30  m-b-20" style="height: 6px;">
                                            <div class="progress-bar progress-c-theme" role="progressbar"
                                                 style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <h6 class="align-items-center float-left"><i
                                                class="fas fa-star f-10 m-r-10 text-c-yellow"></i>2</h6>
                                        <h6 class="align-items-center float-right">1</h6>
                                        <div class="progress m-t-30  m-b-20" style="height: 6px;">
                                            <div class="progress-bar progress-c-theme" role="progressbar"
                                                 style="width: 10%;" aria-valuenow="10" aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <h6 class="align-items-center float-left"><i
                                                class="fas fa-star f-10 m-r-10 text-c-yellow"></i>1</h6>
                                        <h6 class="align-items-center float-right">0</h6>
                                        <div class="progress m-t-30  m-b-20" style="height: 6px;">
                                            <div class="progress-bar" role="progressbar" style="width:0;"
                                                 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ rating list ] end-->
                    <!--[ Recent Users ] start-->
                    <div class="col-xl-12 col-md-6">
                        <div class="card Recent-Users">
                            <div class="card-header">
                                <h5>Users</h5>
                            </div>
                            <div class="card-block px-0 py-3">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr class="unread">
                                            <td><img class="rounded-circle" style="width:40px;"
                                                     src="{% static 'img/user/avatar-1.jpg' %}" alt="activity-user">
                                            </td>
                                            <td>
                                                <h6 class="mb-1">Isabella Christensen</h6>
                                                <p class="m-0">Lorem Ipsum is simply…</p>
                                            </td>
                                            <td>
                                                <h6 class="text-muted"><i
                                                        class="fas fa-circle text-c-green f-10 m-r-15"></i>11 MAY 12:56
                                                </h6>
                                            </td>
                                            <td><a href="#!" class="label theme-bg2 text-white f-12">Reject</a><a
                                                    href="#!" class="label theme-bg text-white f-12">Approve</a></td>
                                        </tr>
                                        <tr class="unread">
                                            <td><img class="rounded-circle" style="width:40px;"
                                                     src="{% static 'img/user/avatar-2.jpg' %}" alt="activity-user">
                                            </td>
                                            <td>
                                                <h6 class="mb-1">Mathilde Andersen</h6>
                                                <p class="m-0">Lorem Ipsum is simply text of…</p>
                                            </td>
                                            <td>
                                                <h6 class="text-muted"><i
                                                        class="fas fa-circle text-c-red f-10 m-r-15"></i>11 MAY 10:35
                                                </h6>
                                            </td>
                                            <td><a href="#!" class="label theme-bg2 text-white f-12">Reject</a><a
                                                    href="#!" class="label theme-bg text-white f-12">Approve</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--[ Recent Users ] end-->

                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
