{% extends "layouts/base-fullscreen.html" %}
{% load i18n static %}

{% block title %}{% translate 'Reset Password' %}{% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% if validlink %}


<div class="auth-wrapper">
    <div class="auth-content">
        <div class="auth-bg">
            <span class="r"></span>
            <span class="r s"></span>
            <span class="r s"></span>
            <span class="r"></span>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <div class="mb-4">
                    <i class="feather icon-mail auth-icon"></i>
                </div>
                <h3 class="mb-4">{% translate 'Password reset confirmation' %}</h3>
                <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
                <form method="post">{% csrf_token %}
                    <fieldset class="module aligned">
                        <span class="mb-0 text-muted">{{ form.user.get_username }}</span>
                        <br/>
                        <br/>
                        <div class="input-group mb-3" for="id_new_password1">
                            {{ form.new_password1.errors }}
                            <input type="password" class="form-control" name="new_password1" autocomplete="new-password"
                                   required=""
                                   id="id_new_password1" aria-autocomplete="list"
                                   placeholder="{% translate 'New password' %}">
                            <div class="input-group-append">
                                <i class="input-group-text feather icon-eye" style="cursor: pointer;"
                                   id="togglePassword_1"></i>
                            </div>
                        </div>
                        <div class="input-group mb-3" for="id_new_password2">
                            {{ form.new_password1.errors }}
                            <input type="password" class="form-control" name="new_password2" autocomplete="new-password"
                                   required="" id="id_new_password2" aria-autocomplete="list"
                                   placeholder="{% translate 'Confirm password' %}">
                              <div class="input-group-append">
                                <i class="input-group-text feather icon-eye" style="cursor: pointer;"
                                   id="togglePassword_2"></i>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary shadow-2 mb-4"
                               value="{% translate 'Change my password' %}">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>


{% else %}


<div class="auth-wrapper">
    <div class="auth-content">
        <div class="auth-bg">
            <span class="r"></span>
            <span class="r s"></span>
            <span class="r s"></span>
            <span class="r"></span>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <div class="mb-4">
                    <i class="feather icon-mail auth-icon"></i>
                </div>
                <h3 class="mb-4">{% translate 'Link Invalid' %}</h3>
                <p>{% translate 'The password reset link was invalid, possibly because it has already been used. Please
                    request a new password reset.' %}</p>

                <p class="mb-0 text-muted">{% translate 'Don’t have an account?' %} <a href="{% url 'register' %}">{%
                    translate 'Signup' %}</a></p>

            </div>
        </div>
    </div>
</div>

{% endif %}


    <script type="text/javascript">
        // How to Toggle First Password Visibility
        const togglePassword_1 = document.querySelector('#togglePassword_1');
        const password_1 = document.querySelector('#id_new_password1');
        console.log(togglePassword_1)
        console.log(password_1)
        togglePassword_1.addEventListener('click', function (e) {
        // toggle the type attribute
        const type_1 = password_1.getAttribute('type') === 'password' ? 'text' : 'password';
        password_1.setAttribute('type', type_1);
        // toggle the eye / eye slash icon
        this.classList.toggle('icon-eye-off');
        });

        // How to Toggle First Password Visibility
        const togglePassword_2 = document.querySelector('#togglePassword_2');
        const password_2 = document.querySelector('#id_new_password2');
        console.log(togglePassword_2)
        console.log(password_2)
        togglePassword_2.addEventListener('click', function (e) {
        // toggle the type attribute
        const type_2 = password_2.getAttribute('type') === 'password' ? 'text' : 'password';
        password_2.setAttribute('type', type_2);
        // toggle the eye / eye slash icon
        this.classList.toggle('icon-eye-off');
        });

    </script>

{% endblock content %}