{% extends "layouts/base-fullscreen.html" %}
{% load i18n static %}

{% block title %}{% translate 'Reset Password' %}{% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% if validlink %}


<div class="auth-wrapper">
    <div class="auth-content">
        <div class="auth-bg">
            <span class="r"></span>
            <span class="r s"></span>
            <span class="r s"></span>
            <span class="r"></span>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <div class="mb-4">
                    <i class="feather icon-mail auth-icon"></i>
                </div>
                <h3 class="mb-4">{% translate 'Password reset confirmation' %}</h3>
                <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
                <form method="post">{% csrf_token %}
                    <fieldset class="module aligned">
                        <span class="mb-0 text-muted">{{ form.user.get_username }}</span>
                        <br/>
                        <br/>
                        <div class="input-group mb-3" for="id_new_password1">
                            {{ form.new_password1.errors }}
                            <input type="password" class="form-control" name="new_password1" autocomplete="new-password"
                                   required=""
                                   id="id_new_password1" aria-autocomplete="list"
                                   placeholder="{% translate 'New password' %}">
                        </div>
                        <div class="input-group mb-3" for="id_new_password2">
                            {{ form.new_password1.errors }}
                            <input type="password" class="form-control" name="new_password2" autocomplete="new-password"
                                   required=""
                                   id="id_new_password2" aria-autocomplete="list"
                                   placeholder="{% translate 'Confirm password' %}">
                        </div>
                        <input type="submit" class="btn btn-primary shadow-2 mb-4"
                               value="{% translate 'Change my password' %}">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>


{% else %}


<div class="auth-wrapper">
    <div class="auth-content">
        <div class="auth-bg">
            <span class="r"></span>
            <span class="r s"></span>
            <span class="r s"></span>
            <span class="r"></span>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <div class="mb-4">
                    <i class="feather icon-mail auth-icon"></i>
                </div>
                <h3 class="mb-4">{% translate 'Link Invalid' %}</h3>
                <p>{% translate 'The password reset link was invalid, possibly because it has already been used. Please request a new password reset.' %}</p>

                <p class="mb-0 text-muted">{% translate 'Don’t have an account?' %} <a href="{% url 'register' %}">{% translate 'Signup' %}</a></p>

            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}
