{% extends "layouts/base-fullscreen.html" %}
{% load i18n static %}

{% block title %}{% translate 'Reset Password' %}{% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="auth-wrapper">
    <div class="auth-content">
        <div class="auth-bg">
            <span class="r"></span>
            <span class="r s"></span>
            <span class="r s"></span>
            <span class="r"></span>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <div class="mb-4">
                    <i class="feather icon-mail auth-icon"></i>
                </div>
                <h3 class="mb-4">{% translate 'Confirm Email' %}</h3>
                <form role="form" method="post" class="form-group">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        {{ form.email.errors }}
                        <input type="email" name="email" class="form-control" placeholder="{% translate 'Email address' %}" id="id_email" required>
                    </div>
                    <input type="submit" class="btn btn-primary mb-4 shadow-2" value="{% translate 'Reset my password' %}">

                </form>
                <p class="mb-0 text-muted">{% translate 'Don’t have an account?' %} <a href="{% url 'register' %}">{% translate 'Signup' %}</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
